{% extends 'admin/base.html' %}

{% from "_formhelpers.html" import render_field %}

{% block title %}Delete a Candidate{% endblock %}
{% block header %}Candidates: Delete{% endblock %}

{% block body %}
<h2 class="mt-3"><strong>{{ row.name }}</strong></h2>
<h4>Candidate Number {{ row.candidate_number }}</h4>
<div class="card-body text-left w-auto">
    <p>
        <strong>ID: </strong> {{ row.id }} <br>
        <strong>NIS: </strong> {{ row.nis }} <br>
        <strong>NISN: </strong> {{ row.nisn }} <br>
    </p>
    <p>
        <strong>Name: </strong> {{ row.name }} <br>
        <strong>Class: </strong> {{ row.classname }} <br>
        <strong>Image: </strong> {{ row.image }} <br>
    </p>
</div>
<form method="POST" action="/admin/candidates/{{ row.id }}/delete" class="form-inline">
    <div class="form-check">
        {{ render_field(form.confirmation, class_="form-control", autocomplete="off") }}
    </div>

    {{ form.submit() }}
</form>
{% endblock %}