{% extends 'admin/base.html' %}

{% from "_formhelpers.html" import render_field %}

{% block title %}Edit a Candidate{% endblock %}
{% block header %}Candidates: Edit{% endblock %}

{% block body %}
<form method="POST" action="/admin/candidates/{{ row.candidate_number }}/edit" enctype="multipart/form-data">
    {% if errors|length > 0 %}
        Error!
        <ul class="errors">
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    
    {{ render_field(form.nis, class_="form-control", autocomplete="off") }}
    {{ render_field(form.nisn, class_="form-control", autocomplete="off") }}
    {{ render_field(form.name, class_="form-control", autocomplete="off") }}
    {{ render_field(form.classname, class_="form-control", autocomplete="off") }}
    {{ render_field(form.candidate_number, class_="form-control", autocomplete="off") }}
    {{ render_field(form.image, class_="form-control-file", autocomplete="off") }}
    {{ render_field(form.vision, class_="form-control", autocomplete="off") }}
    {{ render_field(form.mission, class_="form-control", autocomplete="off") }}
 
    {{ form.submit() }}
</form>
{% endblock %}
