{% extends 'admin/base.html' %}

{% block title %}Candidates Table{% endblock %}
{% block header %}Candidates{% endblock %}

{% block body %}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Candidates Table</h6>
    </div>
    <div class="card-body">
        <a href="/admin/candidates/create">Create a new entry</a>
        <div class="table table-responsive p-3">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Candidate Number</th>
                        <th>Name</th>
                        <th>Classname</th>
                        <th>NIS</th>
                        <th>#</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Candidate Number</th>
                        <th>Name</th>
                        <th>Classname</th>
                        <th>NIS</th>
                        <th>#</th>
                    </tr>
                </tfoot>
                <tbody>
                {% for row in rows %}
                <tr>
                    <td><a href="./candidates/{{ row.candidate_number }}">{{ row.candidate_number }}</a></td>
                    <td>{{ row.name }}</td>
                    <td>{{ row.classname }}</td>
                    <td>{{ row.nis }}</td>
                    <td>
                        <a href="./candidates/{{ row.candidate_number }}/edit" class="btn btn-success btn-md" role="button">Edit</a>
                        <a href="./candidates/{{ row.candidate_number }}/delete" class="btn btn-danger btn-md" role="button">Delete</a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
