<!DOCTYPE html>
<html class="h-100">
    <head>
        <!-- Standard Meta -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

        <!-- Site Properties -->
        <title>PEMILOS SMAN 8 Bandung</title>

        <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <link href="/static/css/index.css" rel="stylesheet">
    </head>
    <body class="h-100">
        <script src="/static/js/base.js"></script>
        <div class="h-100 w-100 position-absolute" id="layer-1">
            <div class="col-6 north west block layer-1"></div>
            <div class="col-6 north east block layer-1"></div>
            <div class="col-6 south east block layer-1"></div>
            <div class="col-6 south west block layer-1"></div>
        </div>
        <div class="h-100 w-100 position-absolute" id="layer-2">
            <div class="col-6 north west block layer-2"></div>
            <div class="col-6 north east block layer-2"></div>
            <div class="col-6 south east block layer-2"></div>
            <div class="col-6 south west block layer-2"></div>
        </div>
        <div class="w-100 h-100 position-absolute d-flex p-4">
            <div class="mx-auto my-auto card" id="box">
                <h1 class="h3 font-weight-bold text-center card-header">PEMILOS 2020</h1>
                <div class="row card-body">
                    <div class="col-auto p-4 mx-auto text-center">
                        <div class="">
                            <h2 class="h5 text-center font-weight-bold" id="">Pemilihan</h2>
                        </div>
                        <div id="election-status">Loading...</div>
                        <div id="election-remaining-time">00:00:00</div> 
                        <div class="text-center mt-3">
                            <a href="/election/verification" class="btn btn-primary disabled h5 shadow" id="election-link" role="button">Pilih Sekarang</a>
                        </div>
                    </div>
                    <div class="col-auto p-4 mx-auto text-center">
                        <div class="text-center">
                            <h2 class="h5 text-center font-weight-bold" id="">Pengumuman</h2>
                        </div>
                        <div id="result-status">Loading...</div>
                        <div id="result-remaining-time">00:00:00</div> 
                        <div class="text-center mt-3">
                            <a href="/election/result" class="btn btn-success disabled h5 shadow" id="result-link" role="button">Lihat Hasil</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="/static/js/index.js"></script>
    </body>
</html>